.image-container {
    text-align: center;
    margin-top: 50px;
}

.responsive-image {
  margin-top: 60px;
  max-width: 60%;
  height: 450px;
}

/* Media query for screens with a maximum width of 768 pixels (adjust as needed) */
@media only screen and (max-width: 768px) {
  .responsive-image {
    max-width: 60%; /* Set to 100% for smaller screens */
    margin-top: 0px; /* Remove margin-top in mobile view */
  }
}


  .button-container {
    margin-top: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #00ff0a;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;

  }
 .en-badge-web-generic {
    position: relative;
    width: 201.3px;
    height: 60px;
   transition: all 0.3s ease; /* Add a smooth transition for a smoother hover effect */
   margin-bottom: 100px;
  }
.en-badge-web-generic:hover {
    box-shadow: 0 0 10px 4px rgb(83, 255, 152); /* Increase blur and spread for a more visible shadow effect */
    border-radius: 14px; /* Adjust the radius to make corners smooth on hover */
  }
  
.download-on-the-app {
    position: relative;
    width: 180.87px;
    height: 60px;
    transition: all 0.3s ease; /* Add a smooth transition for a smoother hover effect */
    margin-bottom: 100px;
  }
.download-on-the-app:hover {
    box-shadow: 0 0 10px 4px rgb(83, 255, 152); /* Increase blur and spread for a more visible shadow effect */
    border-radius: 14px; /* Adjust the radius to make corners smooth on hover */
  }